[submodule "third-party/third-party/gtest"]
	path = third-party/third-party/gtest
	url = https://github.com/google/googletest
[submodule "tools/tools/polly"]
	path = tools/tools/polly
	url = https://github.com/ruslo/polly
